.parentContainer{
  padding: 20px;
}
 body{
  background-image: linear-gradient(90deg,cyan,rgba(203, 192, 192, 0.511));
  /* height: auto; */
 }

.Heading{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: darkblue;
  background-color: lightpink;
  border: 2px solid dodgerblue;
  border-radius: 21px;
  -webkit-text-stroke-width: thin;
  padding: 2px;

}
.btnShape{
  /* color: papayawhip; */
  /* background-color: crimson; */
  /* font-weight: 100; */
  /* padding: 15px; */
  left: 1%;
  position: relative;
  border-top:60px solid transparent;
  /* border-right: 25px solid transparent; */
  border-left: 60px solid crimson;
  border-bottom: 60px solid transparent;
 
  width: 0px;
  height: 0px;
  cursor: pointer;
   transition: filter 0.3s ease;
}
.btnTxt{
  position: relative;
  left: -57px;
  top: -12px;
  font-family: roboto, sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  /* background-clip: text; */

  
}
.txtArea{
  border: 2px solid darkslateblue;
  border-radius: 5px;
  margin-top: 20px !important;
  padding: 5px;
  font-size: 1.5em;
  resize: unset;
 width: 99% !important;
 margin-top:30px !important

}
.btnShape:hover{
  filter: drop-shadow(6px 6px 5px rgba(0,0,0,0.4));
}